body {
    font-family: sans-serif;
}
header b {
  color:#FF4500; 
} 

header {
  background-color:aqua ;
  text-align: center;
}
h1 {
  color:#FF00FF; 
}
footer {
  color: lightblue;
  background-color:salmon;
  padding: 10px;
  margin: 20px;
  
}
footer p{
  background-color: white;
}
nav {
background-color:indianred;
}

a {
  color:grey
}
.imgspecial {
  color: lightslategray;
    background-color:Coral ;
}
